
.footer {
    background-color: #158875;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-gauche {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: Inter;
}

.footer-gauche a {
    transition: transform 0.2s;
    display: inline-block;
}

.footer-gauche a:hover {
    transform: scale(1.1);
}

.footer-centre {
    text-align: center;
    font-family: Inter;
}

.reseaux {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.reseaux img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.reseaux img:hover {
    transform: scale(1.1);
}

.footer-droit {
    text-align: center;
    font-family: Inter;
}

.map-image {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.adresse {
    font-size: 14px;
    line-height: 1.5;
}

.scrum-text {
    margin-top: 20px;
    font-size: 14px;
}

.reseaux-text {
    padding-bottom: 30px;
}